@model Student
<h3>About @Model.FirstName @Model.LastName</h3>

<table class="table table-hover">
    
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Picture </th>
            <th scope="col">Gender</th>
            <th scope="col">State</th>
            <th scope="col">Email</th>
            <th scope="col">Hobbies</th>
            <th scope="col">Favorite Food</th>
            <th scope="col">Favorite Song</th>
            <th scope="col">Favorite Movie</th>
            <th scope="col">Future Career</th>
            <th scope="col" colspan="3">Quote</th>
        </tr>
   
    
        <tr>
            <td scope="row">@Model.StudentID</td>
            <td scope="row">@Model.FirstName</td>
            <td scope="row">@Model.LastName</td>
            <td scope="row">@Model.Image</td>
            <td scope="row">@Model.Gender</td>
            <td scope="row">@Model.State</td>
            <td scope="row">@Model.Email</td>
            <td scope="row">@Model.Hobbies</td>
            <td scope="row">@Model.FavoriteFood</td>
            <td scope="row">@Model.FavoriteSong</td>
            <td scope="row">@Model.FavoriteMovie</td>
            <td scope="row">@Model.FutureCareer</td>
            <td scope="row" colspan="3">@Model.Quote</td>
        </tr>
    
</table>


  
 
  <button style="background-color: black; border: 1px dashed #000; color: #eee"><a href="/Student/UpdateStudent/@Model.StudentID">Update Info</a></button>
 

 <div class="btn-update-delete">
    @using (Html.BeginForm("DeleteStudent", "Student", "Post"))
    {
        <input asp-for="StudentID" type="hidden" value="@Model.StudentID"/>
        <button class="custom-btn btn-12"><span>Are you sure? </span><span>Delete Student</span></button>
    }
</div>

